
.shopify-payment-button__button--hidden {
    visibility: hidden;
}

.shopify-payment-button__button {
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 0 transparent;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    width: 100%;
    transition: background 0.2s ease-in-out;
}

    .shopify-payment-button__button[disabled] {
        opacity: 0.6;
        cursor: default;
    }

.shopify-payment-button__button--unbranded {
    background-color: #1990c6;
    padding: 1em 2em;
}

    .shopify-payment-button__button--unbranded:hover:not([disabled]) {
        background-color: #136f99;
    }

.shopify-payment-button__more-options {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
    width: 100%;
}

    .shopify-payment-button__more-options:hover:not([disabled]) {
        text-decoration: underline;
    }

    .shopify-payment-button__more-options[disabled] {
        opacity: 0.6;
        cursor: default;
    }

.shopify-payment-button__button--branded {
    display: flex;
    flex-direction: column;
    min-height: 44px;
    position: relative;
    z-index: 1;
}

    .shopify-payment-button__button--branded .shopify-cleanslate {
        flex: 1 !important;
        display: flex !important;
        flex-direction: column !important;
    }

.modal-prompt {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    width: 330px;
    height: auto;
    margin: 0 auto;
    padding: 20px 35px 30px 35px;
    position: relative;
    top: 25%;
    z-index: 1000000;
}

    .modal-prompt p, .modal-prompt h1 {
        color: #555555;
    }

#prompt-background {
    background: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
}

.modal-prompt select {
    float: left;
    margin-right: 10px;
}
.site-header__logo-image {
    max-width: 250px;
}

.site-header__logo-image {
    margin: 0;
}





/*------------CUSTOM START-------------*/
.mb-0{
    margin-bottom:0px!important
}
.mb-10{
    margin-bottom:10px!important
}
.mb-20{
	margin-bottom:20px
}
.mb-30{
    margin-bottom:30px!important
}
.mb-40{
	margin-bottom:40px
}
.mb-50{
    margin-bottom:50px!important
}
.float-right {
    float: right!important
}
.float-left{
    float:left!important
}
/*.quantity-input {
    padding: 2px;
    font-size: 12px;
    width: 35px;
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}*/
.quantity-input {
    padding: 5px;
    font-size: 12px;
    width: 50px;
}
.add-btn {
    padding: 2px 5px 1px 5px;
    margin-right: -6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 10px;
    background: #b5b4b4;
}
.minus-btn {
    padding: 2px 5px 1px 5px;
    margin-left: -6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 10px;
    background: #b5b4b4;
}
.add-text {
    font-size: 12px;
    color: #b5b4b4;
}
.title-text {
    margin-top: 5px;
    font-size: 13px;
}
.custom-hr{
    margin-top:45px!important;
    margin-bottom:0px!important
}
.header-hr {
    margin-bottom: 40px!important;
    margin-top: 0px!important;
}
.logo-style{
	background: #a4c129;
    color: #fff;
    padding: 5px 25px;
}
.custom-box{
	margin-bottom:20px;
	margin-right:25px
}
.theme-color{
	color:#a4c129
}